* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.section-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: block;
  width: 60%;
  margin-top: 10px;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 2px solid black;
}

.nav-bar a.active {
  color: blue;
  font-weight: bold;
}

.items a {
  text-decoration: none;
  color: black;
}

.nav-bar a:hover {
  color: blue;
}

.logo {
  float: left;
  font-size: 25px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

#nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  font-size: 20px;
}

.items {
  border-right: 2px solid black;
  padding-right: 10px;
}

.items:nth-child(3) {
  border-right: none;
}

#date-time {
  float: right;
}

#books {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.details {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.list-books {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.details:nth-child(odd) {
  background-color: lightgray;
}

.delete {
  padding: 5px;
  box-shadow: 3px 3px gray;
}

#add-book {
  display: none;
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#title,
#author {
  height: 1.5rem;
  padding: 5px;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

#book-btn {
  box-shadow: 3px 3px gray;
  padding: 3px;
}

#contact-us {
  display: none;
}

.contact-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  margin-top: 2rem;
  width: 60%;
  border: 2px solid black;
}

#copy {
  font-size: large;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}
